BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 90
DerivePointerAlignment: false
PointerAlignment: Right
AccessModifierOffset: -4
NamespaceIndentation: None
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
SpacesBeforeTrailingComments: 2
IncludeBlocks: Preserve
SortIncludes: false
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
